.login-div{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
    
    width: 25%;

}

.login-div form{
    display: flex;
    flex-direction: column;
}
.login-div label{
    margin-top: 15px;
    margin-bottom: 5px;
}
.password-login{
    display: flex;
    width: 100%;
    
    /* background: red; */
}
.password-login button{
    width: 50px;
    height: 30px;
}
 input[type='password'],  input[type='text']{
    flex-grow: 1;
    height: 30px;
    padding: 5px;
}
.login-warning{
    height: 40px;
    padding-top: 5px;
    color: Red;

}


/* Basic button styling */
.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  /* Hover effect */
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  /* Active effect */
  .submit-button:active {
    background-color: #004080;
  }
  
  /* Disabled state */
  .submit-button:disabled {
    background-color: #d9d9d9;
    color: #888;
    cursor: not-allowed;
  }
  
  